<!DOCTYPE html>
<html>
  <head>
    <% include common/head.ejs %>
  </head>
  <body>
    <div class="container">
      <div class="headerlink">
          <% include common/navbar.ejs %>
      </div>
      <div class="content-wrapper">
          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>
      </div>
    </div>
  </body>
</html>
