<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Buy & Sell</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/products">Products</a>
      </li>
      <% if(userData.usertype == "seller") {%>
      <li class="nav-item">
        <a class="nav-link" href="/products/myproducts">My Product</a>
      </li>
      <% }%>
    </ul>
    <div class="login-reg">
      <% if (!userData.email) { %>
        <a href="/users/login">Login</a> | <a href="/users/register">Register</a>
      <% } else { %>
        <span class="bg-light">Welcome <%= userData.fname%></span>
        <a href="/users/profile">Profile</a> | <a href="/users/logout">Logout</a>
      <% } %>
        
    </div>
  </div>
</nav>